*{

    margin: 0;
    padding: 0;
}


/* Cores do site:
 
#F20519
#BF0413
#F20530
#3F8C85
#F2B885 

*/

fieldset{
    background-color: aliceblue;
    border: solid hwb(0 3% 97%);
}


a{
color: rgb(0, 0, 0);
text-decoration: none;
transition: 0.3s;
}


a:hover{
    opacity: 0.7;
    color:#ffffff;
    font-size: 30px;
}

.logo{
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color:#f20519b7 ;
    height: 15vh;
    border: solid;
}

main{
    background: url("papel-de-parede-autocolante-sapato-vermelho-lb255-mulher.jpg") no-repeat center center;
    background-size: cover;
    height: 92vh;

}

.nav-list{
    list-style: none;
    display: flex;
}

.nav-list li{

    letter-spacing: 3px;
    margin-left: 32px;
}

/* Menu responsivo, classe responsavel mobile.menu */

.mobile-menu{
cursor: pointer;
display: none;

}



.mobile-menu div{
width: 30px;
height: 2px;
background: #fff;
margin: 6px;
transition: 0.3s;
}


@media(max-width:999px ) {
    
  body{
    overflow: hidden;

  }  
.nav-list{
    position: absolute;
    top: 16vh;
    right: 0;
    width:30vw;
    height:92vh;
    background-color:#f20519b7;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: solid #000000b7;
    transform: translateX(100%);
    transition:  0.3s ease-in;
}

.nav-list li {
    margin-left: 0;
    opacity: 0;
  }


.mobile-menu{
    display: block;
}



}

.nav-list.active{

    transform: translateX(0);
}


@keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }


  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }
  